# Common requirements
Django~=3.2.13
django-cors-headers~=3.12
django-extensions~=3.1
django-filter~=21.1
djangorestframework~=3.13
djangorestframework-queryfields~=1.0
django-dry-rest-permissions~=1.2
drf_yasg~=1.20
mysqlclient~=2.1
oauthlib~=3.2
python-memcached~=1.59
python-dateutil~=2.8
requests~=2.27
requests-oauthlib~=1.3
