{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<meta charset="UTF-8">
<title>{% block title %}Kiti{% endblock %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static 'css/kiti.css' %}">
<body>
<div class="">
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</div>